
<form [formGroup]="candidateInfo">

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap='32px'>
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput #name maxlength="50" placeholder="Ex. John Doe"
                formControlName="name">
            <mat-hint align="start"><strong>Please provide Name</strong> </mat-hint>           
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput #eamil maxlength="50" placeholder="Ex. doe@email.com"
                formControlName="email">
            <mat-hint align="start"><strong>Please provide email</strong> </mat-hint>
           
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Phone no</mat-label>
            <input matInput #phoneNo maxlength="30" placeholder="Ex. +880 017xxxxxxxx"
                formControlName="phoneNo">
            <mat-hint align="start"><strong>Please provide phone no</strong> </mat-hint>           
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Profile Info</mat-label>
            <input matInput #candidateDetails maxlength="1000" placeholder="Ex. Solid knowledge in Software development"
                formControlName="candidateDetails">
            <mat-hint align="start"><strong>Please provide profile info</strong> </mat-hint>
            <mat-hint align="end">{{candidateDetails.value.length}} / 1000</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary">Save</button>
    </div>
</form>