<div class='containter-table' >
    
    <div><h2>Job Title: &nbsp;{{job.Title}} &nbsp; &nbsp; &nbsp; &nbsp;Company Name: &nbsp;{{job.CompanyName}}</h2>  </div>
    <form [formGroup]="matchingForm" fxLayout='row' class="mat-elevation-z8" style="margin-bottom:16px; padding: 16px;" >
        <!-- <mat-card> -->
            
            <mat-form-field appearance='outline' class='description'>
                <mat-label><strong>Job description </strong></mat-label>
                <textarea matInput #jobDescriptioin maxlength="1000" placeholder="Ex. Software engineer, Database admin"
                    formControlName="jobDescriptioin" style='height: 120px;'></textarea>
                <mat-hint align="start"><strong>Please provide job description</strong> </mat-hint>
                <mat-hint align="end">{{jobDescriptioin.value.length}} / 1000</mat-hint>
            </mat-form-field>

            <mat-form-field appearance='outline' class="must-have">
                <mat-label> <strong> Must have</strong></mat-label>
                <textarea matInput #mustHave maxlength="256" style='height: 120px;'
                    placeholder="Ex. Software engineer, Database admin" formControlName="mustHave"></textarea>
                <mat-hint align="start"><strong>Please provide comma spepareted keyowrds</strong> </mat-hint>
            </mat-form-field>
       
        <div fxLayout="column" fxLayoutAlign="center none" fxLayoutGap='32px' style="height: 160px;">
            <!-- <button mat-flat-button color='primary' [disabled]="!showCandidateBtn"
                (click)='goToCandidateList()'>Candidate
                list</button> -->
            <button mat-raised-button color='primary' (click)='getMatches()'>Check Matches</button>
        </div>
    <!-- </mat-card> -->


    </form>
    <div style="margin-left: 45%;" *ngIf="spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div style="width: 100%;" *ngIf="dataSource.length>0 && !spinner">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
            </ng-container>

            <!-- PorfileInfo Column -->
            <ng-container matColumnDef="PorfileInfo">
                <th mat-header-cell *matHeaderCellDef> Porfile Info </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <textarea readonly class="text-box" type="text" matInput
                            [(ngModel)]="element['PorfileInfo']"></textarea>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="CV">
                <th mat-header-cell *matHeaderCellDef> CV </th>
                <td mat-cell *matCellDef="let element"><a href="{{element.CV}}" target="_blank"><mat-icon>picture_as_pdf</mat-icon></a>  </td>
            </ng-container>
            <ng-container matColumnDef="Match">
                <th mat-header-cell *matHeaderCellDef> Match </th>
                <td mat-cell *matCellDef="let element"> <span *ngIf="element.Match">{{element.Match}}</span>
                    <span *ngIf="!element.Match">N/A</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Applications">
                <th mat-header-cell *matHeaderCellDef> Applications </th>
                <td mat-cell *matCellDef="let element"> {{element.Applications}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header-background"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>