<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color: #3f51b5;">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="job-list"><mat-icon>work</mat-icon> &nbsp;<strong>Job Orders</strong></a>
      <a mat-list-item href="candidate-list"><mat-icon>people</mat-icon>&nbsp; <strong>Candidates</strong></a>
      <!-- <a mat-list-item href="matching"><mat-icon>reduce_capacity</mat-icon>&nbsp; <strong>Matcher</strong></a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Recommendation System beta</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
