<div class="class-container">








<div class="center-btn">
    Center text
</div>


































































    <!-- BEM Block -->

    <!-- <button class="btn">Button</button>
    <button class="btn button--state-success">Button</button>
    <button class="btn button--state-danger">Button</button> -->

    <!-- BEM Block -->


    <!-- Position Block -->

    <!-- <div class="item item-one"></div>
    <div class="item item-two"></div>
    <div class="item item-three"></div> -->

    <!-- Position Block -->


    <!-- Adjacent sibling combinator Block -->

    <!-- <div class="sibling-combinator">
        <p>Lorem ipsum dolor sit amet 1.</p>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim alias, minima magnam recusandae blanditiis saepe fugiat accusantium esse sapiente nostrum.
        </div>
    </div> -->

    <!-- Adjacent sibling combinator Block -->


    <!-- Child combinator Block -->

    <!-- <div class="child-combinator">
        <span>Span #1, in the div.
            <span>Span #2, in the span that's in the div.</span>
        </span>
    </div>
    <span>Span #3, not in the div at all.</span> -->

    <!-- Child combinator Block -->

</div>