<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    *ngIf="isPrivatePage"
    #sidenav
    class="app-sidenav mat-elevation-z2"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
  >
    <mat-toolbar class="bg-accent-300">
      <div class="logo">
        <img src="assets/images/short-logo.png" alt="Logo" />
      </div>
    </mat-toolbar>
    <div class="user-profile bg-accent-300 p-16 pb-60">
      <div class="user-image mb-8">
        <img
          class="avatar border-primary-500 border-3px-solid"
          src="assets/images/Velazquez.jpg"
          alt=""
        />
      </div>
      <div class="user-description">
        <h4 class="mb-4">App User</h4>
        <p class="font-size-14">appuser@yopmail.com</p>
      </div>
    </div>

    <div class="nav-title">
      <span class="text-uppercase hint-text font-weight-700">Applications</span>
    </div>
    <a
      class="nav-link font-weight-600"
      routerLinkActive="active fg-primary-500"
      routerLink="/dashboard"
    >
      <mat-icon class="nav-link-icon fg-primary-500">dashboard</mat-icon>
      Dashboard
    </a>
    <a
      class="nav-link font-weight-600"
      routerLinkActive="active fg-primary-500"
      routerLink="/chart"
    >
      <mat-icon class="nav-link-icon fg-primary-500">dashboard</mat-icon>
      Chart
    </a>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar
      *ngIf="isPrivatePage"
      (toggleSideNav)="sidenav.toggle()"
      class="mat-elevation-z2 bg-accent-300"
    ></app-toolbar>
    <div class="wrapper p-24">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
